# Python cache
__pycache__/
*.pyc

# Logs
*.log
*.txt
logs/

# Ignore all Dataset folders except codes and everything in codes
car_crash_dataset/*
!car_crash_dataset/codes/
!car_crash_dataset/codes/** 
car_crash_dataset/codes/__pycache__/
# Virtual environment
venv/
*.txt
.nfs000000003224f1730000005a
yolo_dataset/

downloaded_model/

yt_download.py
ytb_list.txt
*.pt

runs/

#Ignore training results
cluster_results/*
cluster_5fold/*
scene_eval_out/
scene_eval_out_fold_01/

agg_results_old/*
agg_results_old_local/*

